<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Business-Intelligence-Laboratory-2022---Pandas" data-toc-modified-id="Business-Intelligence-Laboratory-2022---Pandas-1">Business Intelligence Laboratory 2022 - Pandas</a></span></li><li><span><a href="#REPLACE-THIS-WITH-YOUR-NAME-(NEPTUN)" data-toc-modified-id="REPLACE-THIS-WITH-YOUR-NAME-(NEPTUN)-2">REPLACE THIS WITH YOUR NAME (NEPTUN)</a></span><ul class="toc-item"><li><span><a href="#REPLACE-with-today's-date" data-toc-modified-id="REPLACE-with-today's-date-2.1">REPLACE with today's date</a></span></li><li><span><a href="#General-information" data-toc-modified-id="General-information-2.2">General information</a></span><ul class="toc-item"><li><span><a href="#Submission" data-toc-modified-id="Submission-2.2.1">Submission</a></span></li><li><span><a href="#Tips" data-toc-modified-id="Tips-2.2.2">Tips</a></span></li><li><span><a href="#Feedback" data-toc-modified-id="Feedback-2.2.3">Feedback</a></span></li></ul></li><li><span><a href="#Code-quality" data-toc-modified-id="Code-quality-2.3">Code quality</a></span></li><li><span><a href="#Figure-quality" data-toc-modified-id="Figure-quality-2.4">Figure quality</a></span></li></ul></li><li><span><a href="#Data-preparation" data-toc-modified-id="Data-preparation-3">Data preparation</a></span></li><li><span><a href="#Exploring-the-dataset" data-toc-modified-id="Exploring-the-dataset-4">Exploring the dataset</a></span></li><li><span><a href="#Basic-queries" data-toc-modified-id="Basic-queries-5">Basic queries</a></span><ul class="toc-item"><li><span><a href="#Which-movies-were-released-in-1956?" data-toc-modified-id="Which-movies-were-released-in-1956?-5.1">Which movies were released in 1956?</a></span></li><li><span><a href="#How-many-movies-were-released-in-the-80s?" data-toc-modified-id="How-many-movies-were-released-in-the-80s?-5.2">How many movies were released in the 80s?</a></span></li><li><span><a href="#When-were-the-Die-Hard-movies-released?" data-toc-modified-id="When-were-the-Die-Hard-movies-released?-5.3">When were the Die Hard movies released?</a></span></li><li><span><a href="#How-many-movies-are-both-action-and-romance?-What-about-action-or-romance?" data-toc-modified-id="How-many-movies-are-both-action-and-romance?-What-about-action-or-romance?-5.4">How many movies are both action and romance? What about action or romance?</a></span></li></ul></li><li><span><a href="#Task-1:-Simple-queries" data-toc-modified-id="Task-1:-Simple-queries-6">Task 1: Simple queries</a></span><ul class="toc-item"><li><span><a href="#Q1.1-Are-there-dramas-for-children?-(2-points)" data-toc-modified-id="Q1.1-Are-there-dramas-for-children?-(2-points)-6.1">Q1.1 Are there dramas for children? (2 points)</a></span></li><li><span><a href="#Q1.2-What-is-the-oldest-movie?-(2-points)" data-toc-modified-id="Q1.2-What-is-the-oldest-movie?-(2-points)-6.2">Q1.2 What is the oldest movie? (2 points)</a></span></li><li><span><a href="#Q1.3-What-is-the-frequency-of-each-genre?-In-other-words-how-many-movies-are-tagged-as-action,-drama-etc.-(2-points)" data-toc-modified-id="Q1.3-What-is-the-frequency-of-each-genre?-In-other-words-how-many-movies-are-tagged-as-action,-drama-etc.-(2-points)-6.3">Q1.3 What is the frequency of each genre? In other words how many movies are tagged as action, drama etc. (2 points)</a></span></li><li><span><a href="#Q1.4-How-many-genres-does-each-movie-have?-(3-points)" data-toc-modified-id="Q1.4-How-many-genres-does-each-movie-have?-(3-points)-6.4">Q1.4 How many genres does each movie have? (3 points)</a></span></li><li><span><a href="#Q1.5-Which-movies-have-the-most-genres?-(3-points)" data-toc-modified-id="Q1.5-Which-movies-have-the-most-genres?-(3-points)-6.5">Q1.5 Which movies have the most genres? (3 points)</a></span></li><li><span><a href="#Q1.6*-Extract-the-list-of-genres-as-a-comma-separated-string.-(4-points)" data-toc-modified-id="Q1.6*-Extract-the-list-of-genres-as-a-comma-separated-string.-(4-points)-6.6">Q1.6* Extract the list of genres as a comma separated string. (4 points)</a></span></li></ul></li><li><span><a href="#Task-2:-Groupby-and-visualization" data-toc-modified-id="Task-2:-Groupby-and-visualization-7">Task 2: Groupby and visualization</a></span><ul class="toc-item"><li><span><a href="#Q2.1-Write-a-function-that-takes-a-genre-and-groups-movies-from-the-90s-of-that-genre-by-year.--(3-points)" data-toc-modified-id="Q2.1-Write-a-function-that-takes-a-genre-and-groups-movies-from-the-90s-of-that-genre-by-year.--(3-points)-7.1">Q2.1 Write a function that takes a genre and groups movies from the 90s of that genre by year.  (3 points)</a></span></li><li><span><a href="#Q2.2-Plot-the-number-of-adventure-movies-from-the-90s-on-a-bar-chart.-Use-your-groupby_genre-function.-(2-points)" data-toc-modified-id="Q2.2-Plot-the-number-of-adventure-movies-from-the-90s-on-a-bar-chart.-Use-your-groupby_genre-function.-(2-points)-7.2">Q2.2 Plot the number of adventure movies from the 90s on a <em>bar</em> chart. Use your <code>groupby_genre</code> function. (2 points)</a></span></li></ul></li><li><span><a href="#Task-3:-String-and-date-manipulation" data-toc-modified-id="Task-3:-String-and-date-manipulation-8">Task 3: String and date manipulation</a></span><ul class="toc-item"><li><span><a href="#Q3.1-How-many-movies-have-title-longer-than-40-characters?-(3-points)" data-toc-modified-id="Q3.1-How-many-movies-have-title-longer-than-40-characters?-(3-points)-8.1">Q3.1 How many movies have title longer than 40 characters? (3 points)</a></span></li><li><span><a href="#Q3.2-We're-building-a-traditional-lexicon-of-the-titles.-What-is-the-distribution-of-initial-letters-(i.e.-how-many-titles-start-with-S?)?-Plot-it-on-a-bar-chart." data-toc-modified-id="Q3.2-We're-building-a-traditional-lexicon-of-the-titles.-What-is-the-distribution-of-initial-letters-(i.e.-how-many-titles-start-with-S?)?-Plot-it-on-a-bar-chart.-8.2">Q3.2 We're building a traditional lexicon of the titles. What is the distribution of initial letters (i.e. how many titles start with S?)? Plot it on a bar chart.</a></span><ul class="toc-item"><li><span><a href="#Step-1.-Compute-frequencies.-(3-points)" data-toc-modified-id="Step-1.-Compute-frequencies.-(3-points)-8.2.1">Step 1. Compute frequencies. (3 points)</a></span></li><li><span><a href="#Step-2.-Plot-it-on-a-bar-chart-in-descending-order.-(3-points)" data-toc-modified-id="Step-2.-Plot-it-on-a-bar-chart-in-descending-order.-(3-points)-8.2.2">Step 2. Plot it on a bar chart in descending order. (3 points)</a></span></li></ul></li><li><span><a href="#Q3.3-Plot-the-distribution-of-release-day-(day-of-month)-on-a-pie-chart." data-toc-modified-id="Q3.3-Plot-the-distribution-of-release-day-(day-of-month)-on-a-pie-chart.-8.3">Q3.3 Plot the distribution of release day (day of month) on a pie chart.</a></span><ul class="toc-item"><li><span><a href="#Step-1.-groupby-(2-points)" data-toc-modified-id="Step-1.-groupby-(2-points)-8.3.1">Step 1. groupby (2 points)</a></span></li></ul></li><li><span><a href="#Step-2.-pie-chart.-Add-percent-values.-(3-points)" data-toc-modified-id="Step-2.-pie-chart.-Add-percent-values.-(3-points)-8.4">Step 2. pie chart. Add percent values. (3 points)</a></span></li></ul></li><li><span><a href="#Task-4:-Handling-multiple-dataframes" data-toc-modified-id="Task-4:-Handling-multiple-dataframes-9">Task 4: Handling multiple dataframes</a></span><ul class="toc-item"><li><span><a href="#Q4.1-Load-the-users-table-from-the-file-ml-100k/u.user.-(3-points)" data-toc-modified-id="Q4.1-Load-the-users-table-from-the-file-ml-100k/u.user.-(3-points)-9.1">Q4.1 Load the users table from the file <code>ml-100k/u.user</code>. (3 points)</a></span></li><li><span><a href="#Q4.2-Merge-the-users-table-with-ratings.-Do-not-discard-any-columns.-(3-points)" data-toc-modified-id="Q4.2-Merge-the-users-table-with-ratings.-Do-not-discard-any-columns.-(3-points)-9.2">Q4.2 Merge the <code>users</code> table with <code>ratings</code>. Do not discard any columns. (3 points)</a></span></li><li><span><a href="#Q4.3-Which-5-movies-received-the-most-ratings-and-how-many-times-were-they-rated?-(2-points)" data-toc-modified-id="Q4.3-Which-5-movies-received-the-most-ratings-and-how-many-times-were-they-rated?-(2-points)-9.3">Q4.3 Which 5 movies received the most ratings and how many times were they rated? (2 points)</a></span></li><li><span><a href="#Q4.4-How-strict-are-people-by-occupation?-Compute-the-average-of-ratings-by-occupation.-Plot-it-on-a-bar-chart-in-descending-order." data-toc-modified-id="Q4.4-How-strict-are-people-by-occupation?-Compute-the-average-of-ratings-by-occupation.-Plot-it-on-a-bar-chart-in-descending-order.-9.4">Q4.4 How strict are people by occupation? Compute the average of ratings by occupation. Plot it on a bar chart in descending order.</a></span><ul class="toc-item"><li><span><a href="#Step-1.-Compute-the-averages-by-occupation.-(2-points)" data-toc-modified-id="Step-1.-Compute-the-averages-by-occupation.-(2-points)-9.4.1">Step 1. Compute the averages by occupation. (2 points)</a></span></li><li><span><a href="#Step-2.-Plot-it-on-a-bar-chart.-(2-points)" data-toc-modified-id="Step-2.-Plot-it-on-a-bar-chart.-(2-points)-9.4.2">Step 2. Plot it on a bar chart. (2 points)</a></span></li></ul></li><li><span><a href="#Q4.5-How-likely-are-different-age-groups-to-rate-movies?-Compute-the-number-of-ratings-by-age-grouped-into-10-19,-20-29,-etc.-Plot-it-on-a-bar-chart." data-toc-modified-id="Q4.5-How-likely-are-different-age-groups-to-rate-movies?-Compute-the-number-of-ratings-by-age-grouped-into-10-19,-20-29,-etc.-Plot-it-on-a-bar-chart.-9.5">Q4.5 How likely are different age groups to rate movies? Compute the number of ratings by age grouped into 10-19, 20-29, etc. Plot it on a bar chart.</a></span><ul class="toc-item"><li><span><a href="#Step-1.-Number-of-ratings-by-age-group-(3-points)" data-toc-modified-id="Step-1.-Number-of-ratings-by-age-group-(3-points)-9.5.1">Step 1. Number of ratings by age group (3 points)</a></span></li><li><span><a href="#Step-2.-Plot-it-on-a-bar-chart.-(2-points)" data-toc-modified-id="Step-2.-Plot-it-on-a-bar-chart.-(2-points)-9.5.2">Step 2. Plot it on a bar chart. (2 points)</a></span></li></ul></li></ul></li><li><span><a href="#Task-5:-Advanced-tasks" data-toc-modified-id="Task-5:-Advanced-tasks-10">Task 5: Advanced tasks</a></span><ul class="toc-item"><li><span><a href="#Q5.1-What-is-the-mean-of-ratings-by-genre?" data-toc-modified-id="Q5.1-What-is-the-mean-of-ratings-by-genre?-10.1">Q5.1 What is the mean of ratings by genre?</a></span><ul class="toc-item"><li><span><a href="#Step-1.-Compute-the-mean-scores.-(5-points)" data-toc-modified-id="Step-1.-Compute-the-mean-scores.-(5-points)-10.1.1">Step 1. Compute the mean scores. (5 points)</a></span></li><li><span><a href="#Step-2.-Plot-it-on-a-bar-chart-in-descending-order-by-score.-Set-the-limits-of-the-y-axis-to-(2.5,-4).-(2-points)" data-toc-modified-id="Step-2.-Plot-it-on-a-bar-chart-in-descending-order-by-score.-Set-the-limits-of-the-y-axis-to-(2.5,-4).-(2-points)-10.1.2">Step 2. Plot it on a bar chart in descending order by score. Set the limits of the y-axis to (2.5, 4). (2 points)</a></span></li></ul></li><li><span><a href="#Q5.2-Plot-the-average-ratings-by-occupation-and-gender-on-a-multiple-bar-plot.-(4-points)" data-toc-modified-id="Q5.2-Plot-the-average-ratings-by-occupation-and-gender-on-a-multiple-bar-plot.-(4-points)-10.2">Q5.2 Plot the average ratings by occupation <em>and</em> gender on a multiple bar plot. (4 points)</a></span></li><li><span><a href="#Q5.3-What-hour-of-the-day-do-different-occupations-rate?-(3-points)" data-toc-modified-id="Q5.3-What-hour-of-the-day-do-different-occupations-rate?-(3-points)-10.3">Q5.3 What hour of the day do different occupations rate? (3 points)</a></span></li><li><span><a href="#Q5.4-Plot-the-rating-hours-of-marketing-employees-and-programmers-on-two-pie-charts.-(4-points)" data-toc-modified-id="Q5.4-Plot-the-rating-hours-of-marketing-employees-and-programmers-on-two-pie-charts.-(4-points)-10.4">Q5.4 Plot the rating hours of marketing employees and programmers on two pie charts. (4 points)</a></span></li><li><span><a href="#Q5.5-Do-older-people-prefer-movies-with-longer-titles?-Compute-the-average-title-length-by-age-group-(0-10,-10-20)." data-toc-modified-id="Q5.5-Do-older-people-prefer-movies-with-longer-titles?-Compute-the-average-title-length-by-age-group-(0-10,-10-20).-10.5">Q5.5 Do older people prefer movies with longer titles? Compute the average title length by age group (0-10, 10-20).</a></span><ul class="toc-item"><li><span><a href="#Step1.-compute-mean-length-(4-points)" data-toc-modified-id="Step1.-compute-mean-length-(4-points)-10.5.1">Step1. compute mean length (4 points)</a></span></li><li><span><a href="#Step-2.-Plot-it-on-a-bar-chart.-Choose-a-reasonable-range-for-the-y-axis.-(2-points)" data-toc-modified-id="Step-2.-Plot-it-on-a-bar-chart.-Choose-a-reasonable-range-for-the-y-axis.-(2-points)-10.5.2">Step 2. Plot it on a bar chart. Choose a reasonable range for the y-axis. (2 points)</a></span></li></ul></li><li><span><a href="#Q5.6-What-are-the-highest-rated-movies-among-the-movies-that-were-rated-at-least-50-times?-(4-points)" data-toc-modified-id="Q5.6-What-are-the-highest-rated-movies-among-the-movies-that-were-rated-at-least-50-times?-(4-points)-10.6">Q5.6 What are the highest rated movies among the movies that were rated at least 50 times? (4 points)</a></span></li></ul></li></ul></div>

# Business Intelligence Laboratory 2022 - Pandas

# REPLACE THIS WITH YOUR NAME (NEPTUN)

## REPLACE with today's date

## General information

This goal of this notebook is to give a introduction to the `pandas` library, a popular data manipulation and analysis tool for Python.

Before completing this notebook, you should read the introductory material which is available in you Github Classroom repository or [here](https://github.com/bi-labor/pandas_jupyter/blob/master/notebooks/Pandas_introduction.ipynb).

Problems are numbered from **Q1** to **Q5** with many subproblems such as **Q1.1**. The scores range from 2 to 5 based on the difficulty of the problem. The maximum score for each Task is:

| Task | Score |
| ---- | ----|
| 1 | 16 |
| 2 | 5 |
| 3 | 14 |
| 4 | 17 |
| 5 | 28 |
| code style | 5 |
| figure quality | 5 |
| **Sum** | **90** |


Grades are determined using this table:

| Score | Grade |
| ---- | ----|
| 55+ | 5 |
| 46-54 | 4 |
| 36-45 | 3 |
| 26-35 | 2 |
| -25 | 1 |

Task 1 to 4 are considered core exercises.
Task 5 contains advanced exercises for higher scores.
You can make up for mistakes in Task 1-4.
As you can see from the grading table, you don't have to complete all excercises to get a high grade, but we encourage you to work on them. Don't hesitate to contact your lab supervisor if you have any questions regarding the excercises.

Your answer should go in place of `YOUR CODE HERE`. Please remove `raise NotImplementedError`!

Most of the tasks are automatically graded with [nbgrader](https://nbgrader.readthedocs.io/en/stable/index.html).
There are many visible and hidden tests.
Visible tests are available in this version, hidden tests are not.
This means that passing all visible tests does not ensure that your answer is correct.
Not passing the visible tests means that your answer is incorrect.
Do not delete or copy cells and do not edit the metadata of the cells.
You may add cells but they will not be graded.


### Submission

You only need to submit this notebook through Github Classroom.
Please do not add any additional files such as the dataset.
Make sure that you commit and push the last version of your notebook.

There is a file named `neptun.txt` in the same folder as this file. Replace its contents with your own Neptun code.

**VERY IMPORTANT** Run Kernel->Restart & Run All and make sure that it finishes without errors.
If you skip exercises, you need to manually run the remaining cells.
Skipping exercises won't affect the autograder.
If you skip and exercise, please leave the solution cell as it is and do not remove the exception.


### Tips

You generally don't need to leave any DataFrames printed as cell outputs. You can do it for debug purposes and it won't affect the autograder but please don't leave long tables in the output. Use `.head()` instead.

Be concise. All exercises can be solved with fewer than 5 lines of code and most are one-liners.

All exercises can be solved without for loops. Using a for loop for Q1.6 is acceptable.

Avoid overriding Python built-in functions with your own variables (e.g. `max = 2`).

If you mess up, you can always do one of the following
  1. Kernel -> Restart & Run All - this will run all cells from top to bottom until an exception is thrown
  1. Kernel -> Restart, Cell -> Run All Above - this will run all cells from top to bottom until the current cell is reached or and exception is thrown
  
If your notebook runs for longer than a minute, one or more of your solutions is very inefficient.

### Feedback

Please fill out this [short survey](https://forms.gle/jb8D6uqVD3rp9piw8) after you completed the problems.

## Code quality

You can get 5 extra points for code quality. We understand, that not everyone has experience with python, so you won't lose points for not following the python specific style guide, but clean code is highle encouraged.

## Figure quality

You can get 5 extra points for the quality of your figures. Good figures have labeled axes with meaningful names, reasonable figure size and reasonable axes limits.
Extra attention to details also helps.

In [ ]:
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np

import seaborn as sns
sns.set_context('notebook')

pd.options.display.max_colwidth = 100

# Data preparation

Downloading the dataset:

In [ ]:
import os

data_dir = os.getenv('MOVIELENS')
if data_dir is None:
    data_dir = ''

ml_path = os.path.join(data_dir, 'ml.zip')

if os.path.exists(ml_path):
    print('File already exists, skipping download step.')
else:
    print('Downloading the Movielens dataset')
    import urllib
    u = urllib.request.URLopener()
    u.retrieve('http://files.grouplens.org/datasets/movielens/ml-100k.zip', ml_path)

In [ ]:
unzip_path = os.path.join(data_dir, 'ml-100k')

if os.path.exists(unzip_path):
    print('Dataset already unpacked, skipping unpacking step.')
else:
    print('Unziping the dataset.')
    from zipfile import ZipFile
    with ZipFile(ml_path) as myzip:
        myzip.extractall(data_dir)
        
data_dir = unzip_path

Loading the dataset

`pd.read_table` loads a tabular dataset. The full function signature is:


~~~
pandas.read_table(filepath_or_buffer: Union[str, pathlib.Path, IO[~AnyStr]], sep='t', delimiter=None, header='infer', names=None, index_col=None, usecols=None, squeeze=False, prefix=None, mangle_dupe_cols=True, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, skipfooter=0, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, cache_dates=True, iterator=False, chunksize=None, compression='infer', thousands=None, decimal: str = '.', lineterminator=None, quotechar='"', quoting=0, doublequote=True, escapechar=None, comment=None, encoding=None, dialect=None, error_bad_lines=True, warn_bad_lines=True, delim_whitespace=False, low_memory=True, memory_map=False, float_precision=None
~~~

let's try it with defaults

In [ ]:
# movies = pd.read_table('ml-100k/u.item')  # it raises a UnicodeDecodeErrort because its encoding is not UTF-8
movies = pd.read_table(os.path.join(data_dir, 'u.item'), encoding='latin1')
movies.head()

Some improvements:

1. Use a different separator. `|` instead of `\t`.
1. The first line of the file is used as the header. The real names of the columns are listed in the `README`, they can be specified with the `names` parameters.
1. `read_table` added an index (0..N-1), but the dataset already has an index, let's use that one (`index_col='movie_id'`)
1. two columns, `release_date` and `video_release_date` are dates, pandas can parse them and create its own datetype.

In [ ]:
column_names = [
    'movie_id', 'title', 'release_date', 'video_release_date', 'imdb_url', 'unknown', 'action', 'adventure', 'animation',
    'children', 'comedy', 'crime', 'documentary', 'drama', 'fantasy', 'film_noir', 'horror', 'musical', 'mystery',
    'romance', 'sci_fi', 'thriller', 'war', 'western']

movies = pd.read_table(
    os.path.join(data_dir, 'u.item'), sep='|',
    names=column_names, encoding='latin1', index_col='movie_id',
    parse_dates=['release_date', 'video_release_date']
)
movies.head()

We will use the release year of the movies frequently. Let's extract the release year of a movie into a separate column. For this we need to use the dt (datetime) field of the release_date. Trough this we can access datetime specific information, such as the year, month or day field and certain functions.

In [ ]:
movies['year'] = movies.release_date.dt.year

The most common years are:

In [ ]:
movies.year.value_counts().head()

`video_release_date` is always `NaT` (not a time), let's drop it

In [ ]:
movies.video_release_date.isnull().value_counts()

In [ ]:
movies = movies.drop('video_release_date', axis=1)

# Exploring the dataset

`describe` generate descriptive statistics.

In [ ]:
movies.describe()

Only numeric columns are included by default. A single column (`pd.Series`) has a describe function too

In [ ]:
movies.release_date.describe(datetime_is_numeric=True)

Numberic statistics are available as separate functions too:

1. count: number of non-NA cells. NA is **NOT** the same as 0
1. mean: average
1. std: standard deviation
1. var: variance
1. min, max

etc.

`numeric_only=True` excludes date and string columns.

In [ ]:
movies.mean(numeric_only=True)

# Basic queries

## Which movies were released in 1956?

In [ ]:
movies[movies.release_date.dt.year==1956]

## How many movies were released in the 80s?

Let's print 5 examples too.

In [ ]:
d = movies[(movies.release_date.dt.year >=  1980) & (movies.release_date.dt.year < 1990)]
print(f"{len(d)} movies were released in the 80s.")
print("\nA few examples:")
print("\n".join(d.sample(5).title))

## When were the Die Hard movies released?

In [ ]:
movies[movies.title.str.contains('Die Hard')]

Die Hard 4 and 5 are missing. This is because the dataset only contains movies released between:

In [ ]:
movies.release_date.min(), movies.release_date.max()

and Die Hard 4 and 5 were released in 2007 and 2013 respectively.

## How many movies are both action and romance? What about action or romance?

Make sure you parenthesize the conditions, otherwise pandas won't understand what to apply the & and | operation to!

In [ ]:
print("Action and romance:", len(movies[(movies.action==1) & (movies.romance==1)]))
print("Action or romance:", len(movies[(movies.action==1) | (movies.romance==1)]))

# Task 1: Simple queries

## Q1.1 Are there dramas for children? (2 points)

Filter the dataframe for drama movies for children.

In [ ]:
# children_drama = ...

# YOUR CODE HERE
raise NotImplementedError()

Run the assert scripts to check your solution.

In [ ]:
assert isinstance(children_drama, pd.DataFrame)
assert len(children_drama) == 19
assert 'Bogus (1996)' in children_drama.title.values
assert 'Sliding Doors (1998)' not in children_drama.title.values

## Q1.2 What is the oldest movie? (2 points)

In [ ]:
# oldest_movie_title = ...
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
assert oldest_movie_title == 'Nosferatu (Nosferatu, eine Symphonie des Grauens) (1922)'

## Q1.3 What is the frequency of each genre? In other words how many movies are tagged as action, drama etc. (2 points)

The list of genres is given below.

In [ ]:
genres = ['action', 'adventure', 'animation', 'children', 'comedy', 'crime',
          'documentary', 'drama', 'fantasy', 'film_noir', 'horror', 'musical',
          'mystery', 'romance', 'sci_fi', 'thriller', 'war', 'western']


# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
assert len(genre_frequency) == len(genres)
for genre in genres:
    assert genre in genre_frequency.index
    
assert genre_frequency.loc['musical'] == 56
assert genre_frequency.loc['thriller'] == 251

## Q1.4 How many genres does each movie have? (3 points)

You need a similar summation as the previous one but for each row. Add the count as a new column to the `movies` Dataframe.

In [ ]:
# movies['genre_count'] = ...
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
assert 'genre_count' in movies.columns
assert movies['genre_count'].max() == 6
assert movies['genre_count'].min() == 0
movies.loc[movies['genre_count'].idxmax()]['title'] == 'Empire Strikes Back, The (1980)'

## Q1.5 Which movies have the most genres? (3 points)

There is more than one answer, so `idxmax` will not work this time. You should solve this task in two steps. First compute the maximum, then find the rows that match that number.

In [ ]:
# ...
# movies_with_most_genres = ...
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
assert len(movies_with_most_genres) == 3
# 6 is the maximum genre count, all movies have 6 genres
assert movies_with_most_genres['genre_count'].unique() == [6]
assert 'Empire Strikes Back, The (1980)' in movies_with_most_genres['title'].values

## Q1.6\* Extract the list of genres as a comma separated string. (4 points)

If a movie is tagged drama, thriller and romance, the genre string should be 'drama, thriller, romance'.

Since we need to work on multiple fields on each row, we need to use `apply`. The usage of apply is given, it will use the given function and run it on the data. Your task is to implement the `get_genres` function. `get_genres` takes a row as its input and returns the formatted string. You can access each column as `row[column_name]`.

You can concatenate a list of strings using the join string function. An example can be seen below.

In [ ]:
list_of_strings = ["first", "second", "third"]
print(" | ".join(list_of_strings))

Hint: you can iterate the genres and put the desired elements into an other list using the append method of the second list object.

In [ ]:
def get_genres(row):
# YOUR CODE HERE
raise NotImplementedError()

movies['genres'] = movies[genres].apply(get_genres, axis=1)

In [ ]:
assert isinstance(movies['genres'].iloc[0], str)

empire_genres = movies[movies['title']=='Empire Strikes Back, The (1980)']['genres'].iloc[0]
em_genres = set()
for genre in empire_genres.split(","):
    em_genres.add(genre.strip())
assert em_genres == {'action', 'adventure', 'drama', 'romance', 'sci_fi', 'war'}

# Task 2: Groupby and visualization 

How many movies are released each decade? For this we will groupby on a condition:

In [ ]:
movies.groupby(movies['year'] // 10 * 10).size()

Let's plot it on a bar chart. We create the figure and axis objects beforehand. This allows adjusting the figure size and apply other changes to the figure.

In [ ]:
fig, ax = plt.subplots(1, figsize=(10, 6))
movies.groupby(movies['year'] // 10 * 10).size().plot(kind='bar', ax=ax)
ax.set_ylabel("Movie count")
ax.set_title("Movies per decade")
ax.grid(axis='y')

Let's zoom into the 90s:

Most movies were released in the late 80s and 90s, let's zoom in. Let's also change the figure size.

We create the plot object with one subplot, we then specify which axis pandas should use for plotting (`ax=ax`).

In [ ]:
fig, ax = plt.subplots(1, figsize=(10, 6))
m = movies[movies.year>=1990]
m.groupby('year').size().plot(kind='bar', ax=ax)

Let's order the previous plot by the number of movies released in an ascending order!

In [ ]:
fig, ax = plt.subplots(1, figsize=(10, 6))
m = movies[movies.year>=1990]
m.groupby('year').size().plot(kind='bar', ax=ax)

Let's also see this on a pie chart!

In [ ]:
fig, ax = plt.subplots(1, figsize=(10, 6))
m = movies[movies.year>=1990]
m.groupby('year').size().plot(kind='pie', ax=ax)

## Q2.1 Write a function that takes a genre and groups movies from the 90s of that genre by year.  (3 points)

In [ ]:
def groupby_genre(df, genre):
    # YOUR CODE HERE
    raise NotImplementedError()

In [ ]:
crime = groupby_genre(movies, 'crime')
assert 1993 in crime.groups
assert 1989 not in crime.groups
assert type(crime) == pd.core.groupby.DataFrameGroupBy
assert len(crime) == 8  # 1990, 1992-98
assert crime.size().loc[1996] == 21

## Q2.2 Plot the number of adventure movies from the 90s on a _bar_ chart. Use your `groupby_genre` function. (2 points)

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

# Task 3: String and date manipulation

As mentioned before, you can access certain fields and functions of a datetime column by using the ´dt´ notion. Similarly, you can access string functions with the ´str´ notion.

For more information visit https://pandas.pydata.org/docs/reference/api/pandas.Series.html and checkout the functions accessible with dt and str.

Which the movies have titles that contain the word "cat"?

In [ ]:
movies[movies.title.str.contains("cat")]

We didn't find every instance yet, because we haven't found the ones where the "cat" is not capitalized or all caps. To be sure, let's lowercase the titles and search that way.

In [ ]:
movies[movies.title.str.lower().str.contains("cat")]

## Q3.1 How many movies have title longer than 40 characters? (3 points)

In [ ]:
def long_titles(df):
    # YOUR CODE HERE
    raise NotImplementedError()

In [ ]:
title_cnt = long_titles(movies)
assert type(title_cnt) == int

## Q3.2 We're building a traditional lexicon of the titles. What is the distribution of initial letters (i.e. how many titles start with S?)? Plot it on a bar chart.

### Step 1. Compute frequencies. (3 points)

Hint: use the groupby function for this!

In [ ]:
def compute_initial_letter_frequencies(df):
    # YOUR CODE HERE
    raise NotImplementedError()

In [ ]:
initial = compute_initial_letter_frequencies(movies)

assert type(initial) == pd.Series

# frequency counts should be >= 1
assert initial.min() >= 1

# the largest one cannot be larger than the full dataframe
assert initial.max() <= len(movies)

### Step 2. Plot it on a bar chart in descending order. (3 points)

The most common letter should be the first bar.

Make the figure wider and fix the axis labels

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

## Q3.3 Plot the distribution of release day (day of month) on a pie chart.

### Step 1. groupby (2 points)

In [ ]:
def groupby_release_day(df):
    # YOUR CODE HERE
    raise NotImplementedError()

In [ ]:
by_day = groupby_release_day(movies)
assert type(by_day) == pd.core.groupby.DataFrameGroupBy

# the longest month is 31 days
assert len(by_day) < 32

# shouldn't group on day of week
assert len(by_day) > 7

### Step 2. pie chart. Add percent values. (3 points)

You should see that the 1st day of the month was by far the most common release day. The reason for this is most likely the lack of a specified day in the original release date (May 1996 instead of May 13, 1996).

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

# Task 4: Handling multiple dataframes

The main table of this dataset is `u.data` with 100000 ratings. We can load it the following way:

In [ ]:
cols = ['user', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_table(os.path.join(data_dir, "u.data"), names=cols)
ratings.head()

The `timestamp` column is a Unix timestamp, let's convert it to `pd.DateTime`:

In [ ]:
ratings['timestamp'] = pd.to_datetime(ratings.timestamp, unit='s')
ratings.head()

Merging it with `movies`:

In [ ]:
ratings = pd.merge(ratings, movies, left_on='movie_id', right_index=True)

## Q4.1 Load the users table from the file `ml-100k/u.user`. (3 points)

`u.users` has the following columns: `user_id, age, gender, occupation, zip`. Use `user_id` as the index.

In [ ]:
# raw_users = ...
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
assert type(users) == pd.DataFrame

# there is no user with index=0
assert 0 not in users.index
assert users.shape == (943, 4)
assert list(users.columns) == ['age', 'gender', 'occupation', 'zip']

## Q4.2 Merge the `users` table with `ratings`. Do not discard any columns. (3 points)

In [ ]:
# ratings = ratings.merge...
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
assert type(ratings) == pd.DataFrame
# all movies have ratings (nunique return the number of unique elements)
assert ratings['movie_id'].nunique() == 1682

## Q4.3 Which 5 movies received the most ratings and how many times were they rated? (2 points)

In [ ]:
# most_rated = ...
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
assert isinstance(most_rated, pd.Series)
assert len(most_rated) == 5
assert 'Liar Liar (1997)' in most_rated
assert most_rated.loc['Fargo (1996)'] > 500

## Q4.4 How strict are people by occupation? Compute the average of ratings by occupation. Plot it on a bar chart in descending order.

### Step 1. Compute the averages by occupation. (2 points)

In [ ]:
# mean_by_occupation = ...
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
assert isinstance(mean_by_occupation, pd.Series)
# ratings are between 1 and 5
assert mean_by_occupation.min() > 1
assert mean_by_occupation.max() < 5

### Step 2. Plot it on a bar chart. (2 points)

Extra point: make the bar chart wider and restring the y-axis to (2.5, 4).

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

## Q4.5 How likely are different age groups to rate movies? Compute the number of ratings by age grouped into 10-19, 20-29, etc. Plot it on a bar chart.

### Step 1. Number of ratings by age group (3 points)

You can do this without `pd.cut` or `pd.qcut`. Think about how we handled decades earlier.

In [ ]:
def count_ratings_by_age_group(ratings):
    # YOUR CODE HERE
    raise NotImplementedError()

In [ ]:
rating_by_age_group = count_ratings_by_age_group(ratings)

assert isinstance(rating_by_age_group, pd.Series)
assert 20 in rating_by_age_group
assert 25 not in rating_by_age_group

### Step 2. Plot it on a bar chart. (2 points)

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

# Task 5: Advanced tasks

## Q5.1 What is the mean of ratings by genre?

If a movie has multiple genres, include it in every genre. 

### Step 1. Compute the mean scores. (5 points)

There are many ways to solve this problem. Try to do it without explicit for loops.

In [ ]:
genres = ['unknown', 'action', 'adventure', 'animation',
       'children', 'comedy', 'crime', 'documentary', 'drama', 'fantasy',
       'film_noir', 'horror', 'musical', 'mystery', 'romance', 'sci_fi',
       'thriller', 'war', 'western']

def compute_mean_rating_by_genre(ratings):
    # YOUR CODE HERE
    raise NotImplementedError()

In [ ]:
genre_rating = compute_mean_rating_by_genre(ratings)
assert len(genre_rating) == len(genres)
# all means are between 3 and 4
assert genre_rating.min() > 3.0
assert genre_rating.max() < 4.0
# film noir is rated highest
assert genre_rating.idxmax() == 'film_noir'
for g in genres:
    assert g in genre_rating.index
assert abs(genre_rating.loc['adventure'] - 3.503528) < 1e-3

### Step 2. Plot it on a bar chart in descending order by score. Set the limits of the y-axis to (2.5, 4). (2 points)

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

## Q5.2 Plot the average ratings by occupation _and_ gender on a multiple bar plot. (4 points)

Tip: there is an example of a multiple bar plot [here](https://pandas.pydata.org/pandas-docs/stable/user_guide/visualization.html)

Tip 2: there are many ways to solve this problem, one is a one-liner using `DataFrame.unstack`. It's a little longer if you make the figure nicer.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

## Q5.3 What hour of the day do different occupations rate? (3 points)

Create a function that computes the number of ratings per hour for a single occupation.

In [ ]:
def count_rating_by_hour_occupation(ratings, occupation):
    # YOUR CODE HERE
    raise NotImplementedError()

In [ ]:
marketing = count_rating_by_hour_occupation(ratings, "marketing")
assert isinstance(marketing, pd.Series)

# there are only 24 hours
assert len(marketing) < 25

## Q5.4 Plot the rating hours of marketing employees and programmers on two pie charts. (4 points)

A two-subplot figure is created. `ax` is an array of the two subplots, use `ax[0]` for marketing employees and `ax[1]` for programmers. Set the titles of the subplots accordingly.

In [ ]:
fig, ax = plt.subplots(1, 2, figsize=(12, 6))
# YOUR CODE HERE
raise NotImplementedError()

## Q5.5 Do older people prefer movies with longer titles? Compute the average title length by age group (0-10, 10-20).

### Step1. compute mean length (4 points)

Tip: You should probably create a copy of some of the columns.

In [ ]:
def get_mean_length_by_age_group(ratings):
    # YOUR CODE HERE
    raise NotImplementedError()

In [ ]:
title_len_by_age = get_mean_length_by_age_group(ratings)
assert isinstance(title_len_by_age, pd.Series)
assert len(title_len_by_age) == 8
# titles are long
assert title_len_by_age.min() >= 20

### Step 2. Plot it on a bar chart. Choose a reasonable range for the y-axis. (2 points)

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

## Q5.6 What are the highest rated movies among the movies that were rated at least 50 times? (4 points)

Return a Series of the top 10 such movies with their rating.

In [ ]:
# highest_rated = ...
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
assert len(highest_rated) == 10
assert abs(highest_rated.max() - 4.491071) < 1e-3
assert 'Star Wars (1977)' in highest_rated.index

Please fill out this [short survey](https://forms.gle/jb8D6uqVD3rp9piw8) after you completed the problems.